/* Variáveis CSS para cores */
:root {
    --primary-color: #007bff;
    --secondary-color: #f9f9f9;
    --text-color: black;
    --border-color: #ccc;
    --font-family: Arial, sans-serif;
}

/* Reset de estilos padrão e definição de fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* Estilos para o corpo da página */
body {
    background-color: #fff;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o contêiner principal */
.container {
    background-color: rgba(0, 0, 0, 0.021);
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5px;
}

/* Estilos para o título dentro do contêiner */
.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

/* Estilos para o formulário */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

/* Estilos para o campo de entrada do número do cartão */
#cardNumber {
    width: 100%;
    max-width: 300px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1rem;
}

/* Estilos para o botão */
.btn {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o resultado */
#result {
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
}

/* Media Queries para responsividade */

/* Ajustes para telas com largura mínima de 600px */
@media (min-width: 600px) {
    .form {
        flex-direction: row;
    }

    #cardNumber {
        width: 50%;
    }
}

/* Ajustes para telas com largura mínima de 768px */
@media (min-width: 768px) {
    #cardNumber {
        width: 25%;
    }
}